.joint3-thq-frame1076-elm {
  top: 6227px;
  left: 0px;
  width: 1920px;
  height: 809px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}

.joint3-thq-rectangle35-elm {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 809px;
  position: absolute;
}

.joint3-thq-vector46-elm {
  top: 226px;
  left: -1255px;
  width: 2227px;
  height: 633px;
  position: absolute;
}

.joint3-thq-text-elm114 {
  top: 120px;
  left: 40px;
  color: rgba(28, 28, 28, 1);
  width: 908px;
  height: auto;
  position: absolute;
  font-size: 48px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-frame277130179-elm {
  gap: 24px;
  top: 555px;
  left: 40px;
  width: 1839px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.joint3-thq-frame277130178-elm {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.joint3-thq-frame277130175-elm {
  gap: 48px;
  width: 597px;
  height: 150px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.10000000149011612);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.30000001192092896);
}

.joint3-thq-text-elm115 {
  color: rgba(255, 255, 255, 1);
  width: 281px;
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-text-elm116 {
  color: rgba(255, 255, 255, 1);
  width: 549px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Onest;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-frame277130176-elm {
  gap: 48px;
  width: 597px;
  height: 150px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 24px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.joint3-thq-text-elm117 {
  color: rgba(52, 150, 205, 1);
  width: 282px;
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-text-elm118 {
  color: rgba(52, 150, 205, 1);
  width: 549px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Onest;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-frame277130177-elm {
  gap: 48px;
  width: 597px;
  height: 150px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.10000000149011612);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.30000001192092896);
}

.joint3-thq-text-elm119 {
  color: rgba(255, 255, 255, 1);
  width: 281px;
  height: auto;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-text-elm120 {
  color: rgba(255, 255, 255, 1);
  width: 549px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Onest;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}