
.joint3-thq-component2-elm2 {
  display: flex;
  align-items: center;
}


.joint3-thq-frame1060-elm7 {
  gap: 0.178571417927742px;
  display: flex;
  opacity: 0.00;
  padding: 0.2857142686843872px;
  align-items: center;
  border-radius: 1.0714285373687744px;
  justify-content: center;
  background-color: rgba(49, 147, 204, 1);
}


.joint3-thq-frame5-elm6 {
  gap: 10px;
  display: flex;
  padding: 16px 24px;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
  background-color: rgba(49, 147, 204, 1);
}



.joint3-thq-text-elm185 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}


.joint3-thq-frame1059-elm6 {
  gap: 10px;
  display: flex;
  padding: 16px;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
  background-color: rgba(49, 147, 204, 1);
}


.joint3-thq-frame1061-elm6 {
  width: 24px;
  height: 24px;
}