/*  */
.joint3-thq-frame1077-elm {
  gap: 48px;
  top: 8919px;
  left: 40px;
  width: 1840px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: center;
}

.joint3-thq-frame1049-elm {
  gap: 4px;
  width: 1530px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}

.joint3-thq-frame755-elm {
  gap: 24px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}

.joint3-thq-frame1051-elm1 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.joint3-thq-text-elm156 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-frame38-elm1 {
  width: 24px;
  height: 24px;
}

.joint3-thq-frame761-elm {
  gap: 24px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-end;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.joint3-thq-frame1052-elm {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}

.joint3-thq-frame1051-elm2 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.joint3-thq-text-elm157 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}




.joint3-thq-text-elm158 {
  color: rgba(127, 127, 127, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Onest;
  font-weight: 400;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-frame762-elm {
  gap: 24px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}

.joint3-thq-frame1051-elm3 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.joint3-thq-text-elm159 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-frame38-elm3 {
  width: 24px;
  height: 24px;
}

.joint3-thq-frame763-elm {
  gap: 24px;
  display: flex;
  padding: 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
}

.joint3-thq-frame1051-elm4 {
  gap: 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.joint3-thq-text-elm160 {
  color: rgba(28, 28, 28, 1);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Onest;
  font-weight: 500;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}

.joint3-thq-frame38-elm4 {
  width: 24px;
  height: 24px;
}